<div class="buttons bmw-informed online-chat">
  <button class="button is-link chat-link">Online chat</button>
</div>
<div class="container bmw-main-container">
  <div class="bmw-carousel bmw-box">
    <div class="bmw-item">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[0]" alt="M5">
          </div>
          <div class="buttons bmw-informed">
            <h2>BRING IT ON</h2> <br />
            <h4>The new BMW X4</h4> <br />

            <button class="button is-link">Keep me informed</button>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[1]" alt="X4">
          </div>
          <div class="buttons bmw-informed">
            <button class="button is-link">Keep me informed</button>
          </div>
        </ng-template>

      </ngb-carousel>
    </div>

  </div>

  </div>

  <div class="secondary-banners">
    <div class="bmw-main-container-2">
      <img class="img-container" src="./../../../assets/images/bottomCarousel/520d.jpg"/>
      <img class="img-container" src="./../../../assets/images/bottomCarousel/prime-7.jpg"/>
      <img class="img-container" src="./../../../assets/images/bottomCarousel/X3.jpg"/>
      <img class="img-container" src="./../../../assets/images/bottomCarousel/X3.jpg"/>
      </div>
  </div>


  <div class="bmw-containter bmw-box bmw-form">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Mr</option>
            <option>Mrs</option>
          </select>
        </div>
      </div>
    </div>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>

      <div class="field">
        <label class="label">Surname</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email input">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>

      </div>
      <br /><br />
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link submit-btn">Submit</button>
        </div>

      </div>


  </div>
