ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bmw-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bmw-main-container {
  height: 600px;
  position: relative;
  top:-84px;
}

.bmw-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.bmw-item {

  width: 90%;
  height: 360px;
}
.bmw-informed {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  margin:36px 0 0 36px;
  align-items: flex-start;
}

.online-chat {
  display: flex;
    background: none;
    justify-content: center;
    z-index: 999999999;
    width: 95%;
    position: relative;
    top: 160px;
    align-items: flex-end;

}

.chat-link {
  transform: rotate(90deg);
}

.field {

    display: flex;
    justify-content: space-between;
    width: 500px;
}


.control, .select select {
  width:320px;
}

.submit-btn {
  width:170px;
}


h2, h4 {
  color: black;
  font-weight: 600;
}

.bmw-main-container-2 {
  width:50%;
  position: relative;
  top: -120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.img-container {
  width: 360px;
  flex: 50%;
}

.secondary-banners {
  display: flex;
  justify-content: center;
}
